@charset "UTF-8";
@font-face{
	font-family:"honnwhite";
	src:url("../fonts/HOONWHITECATR.TTF")format("truetype");
	font-style:normal;
	font-weight:normal;
}
div.header{
	position:relative;
}

#upform{
	position:absolute;
	top:10px;
	right:10px;
}
#rightform{
	position:absolute;
	top:45px;
	right:10px;
	
}
#fotter{
	font-family:"honnwhite";
	font-size:large;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#3174AE;
}
	
	a:link {text-decoration: none;}
	a:visited {text-decoration: none;}
	a:hover {text-decoration: underline;}

